main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#calculator {
    width: 480px;
    height: 650px;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 2px solid black;
    align-items: center;
}
#display {
    border: 2px solid black;
    border-radius: 1px;
    margin-top: 3.5%;
    height: 13.5%;
    width: 94%;
    font-size: 75px;
    background-color: aliceblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#buttons {
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    width: 94%;
    height: 75%;
    margin-top: 3.5%;
    flex-wrap: wrap;
}
#buttons button{
    font-family: arial;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:300%;
    width: 24%;
    height: 19%;
    background-color: white;
}
#sup{
    font-size: 60%;
    margin-bottom: 30%;
}

